body {
    
}

@media screen and (max-width : 425px) {
    .intro div {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        align-items: center;
    }
}

@media screen and (max-height : 968px) {
    .intro div {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        align-items: center;
    }
}