body {
    background-color: green;
    margin: 0;
}
/* AUTO FARMING 로고 이미지 */
.name {
    background-color: darkgreen;
    font-weight: bolder;
}
.logo1 {
    background-color: darkgreen;
    text-align: center;
    padding: 20px;
    width: 240px;
    float: left;
    margin-left: 50px;
}

/* X 버튼 */
.delete a {
    background-color: darkgreen;
    color: white;
    display: flex;
    padding-top: 20px;
    padding-left: 10px;
}

/* 고객 이름 */
.introduce {
    background-color: darkgreen;
    color: white;
    font-weight: bolder;
    font-size: x-large;
    padding-left: 20px;
}
.hello {
    color: white;
    padding-left: 20px;
}

/* 농장 관리 */
.FarmManage01,
.FarmManage02,
.FarmManage03 {
    background-color: rgb(226, 241, 227);
    font-weight: bolder;
    font-size: large;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 15px;
}

.myFarm01,
.myFarm02,
.myFarm03 {
    text-decoration: none;
    color: darkgreen;
}

.material-symbols-outlined {
    float: right;
    /* padding-left: 20px; */
    padding-right: 20px;
}
.Farm_menu {
    background-color: lightgray;
    /* padding-top: 5px;
    padding: 8px 0px 0px 0px; */
}

/* 농장 */
.Farm_menu div {
    text-decoration: none;
    color: rgb(6, 51, 6);
}
.farm_number01,
.farm_number02,
.farm_number03 {
    text-decoration: none;
    color: rgb(6, 51, 6);
    font-weight: bolder;
    padding: 8px;
    padding-left: 20px;
    font-size: 20px;
    outline: 0.1px solid green;
}

.farm_set01,
.farm_set02,
.farm_set03,
.farm_set04,
.farm_set05,
.farm_set06 {
    text-decoration: none;
    background-color: rgb(112, 107, 107);
    color: white;
    
}

.farm-setting01,
.farm-setting02,
.farm-setting03,
.farm-setting04,
.farm-setting05,
.farm-setting06 {
    text-decoration: none;
    color: white;
    padding: 8px;
    padding-left: 20px;
}


/* 환경설정, 고객 센터*/
.setting {
    color: rgb(6, 51, 6);
    background-color: lightgray;
    font-weight: bolder;
}
.setting_menu01,
.setting_menu02,
.setting_menu03,
.setting_menu04 {
    text-decoration: none;
    font-weight: bolder;
    color : rgb(6, 51, 6);
    background-color: lightgray;
    padding: 8px;
    padding-left: 15px;
    outline: 0.1px solid green;
}


@media screen and (max-width : 425px) {
    .intro div {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        align-items: center;
    }
}

@media screen and (max-height : 968px) {
    .intro div {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        align-items: center;
    }
    /* 미디어쿼리 안에 있을 때는 메뉴 숨기기 */
   .farm_number01,
   .farm_number02,
   .farm_number03 {
        display: none;
   }

   .farm_set01,
   .farm_set02 {
        display: none;
   }

   .farm-setting01,
   .farm-setting02,
   .farm-setting03,
   .farm-setting04,
   .farm-setting05,
   .farm-setting06 {
        display: none;
   }

   .setting_menu01,
   .setting_menu02,
   .setting_menu03,
   .setting_menu04 {
        display: none;
   }


    .FarmManage01.active,
    .FarmManage02.active,
    .FarmManage03.active,
    .farm_number01.active,
    .farm_number02.active,
    .farm_number03.active,
    .farm_menu.active,
    .farm_set01.active,
    .farm_set02.active,
    .farm-setting01.active,
    .farm-setting02.active,
    .farm-setting03.active,
    .farm-setting04.active,
    .farm-setting05.active,
    .farm-setting06.active {
        display: flex;
    }

    .setting.active,
    .setting_menu01.active,
    .setting_menu02.active,
    .setting_menu03.active,
    .setting_menu04.active {
        display: flex;
    }
}
